<h3>Progress, Progress, Progress...</h3>
	<br />
	<p>
		MySchoolPal has been designed by Stephen Howse, Head of Physics at a leading school in Doncaster. The aim of the software is to facilitate teachers with a system that will 
		analyse pupils' data in great detail yet remain simple to use. The system allows teachers / Curriculum leaders & Senior Management to monitor pupils' progress at all levels,
		the software is designed to be extremely versatile as it is clearly understood that each school just like each pupil will have different needs. 
	</p>
	
	<p>
		The features offered within the software allow schools to set their own pupil groups, their own whole school assessments and each class teacher can add an unlimited 
		number of their own assessments. The data analysis tools then allow teachers and pupils to monitor the progress of pupils in great detail, from looking at a whole year
		group down to a single pupil. To read more about the features click <%=link_to 'here', static_pages_features_path%>
	</p>
	
	<p>
		MySchoolPal is committed to improving, therefore we are looking for schools to use the product for free for 6 months on the condition that schools provide us with 
		feedback that we can then use to make improvements to the product. 
	</p>