	
<div class="row">
	
	
		<p class="title">MYSCHOOLPAL</p>
		<p class="sub-title">Monitoring Pupil's Progress</p>

	
</div>
<div class="row" style="margin-top:60px;">
	<div class="col-xs-3 text-center" style="padding-top:75px">	
		<div style="width:50px; margin-left:auto; margin-right:auto;">
		<svg>
		<rect width="50", height="50" style="fill:rgba(245,59,59,1);"/>
		</svg>
		</div>
	</div>
	<div class="col-xs-3" style="padding-top:50px">	
		<div style="width:100px; margin-left:auto; margin-right:auto;">
			<svg>
			<rect width="100", height="100" style="fill:rgba(254,182,69,1)"/>
			</svg>
		</div>
	</div>
	
	<div class="col-xs-3" style="padding-top:25px">
		<div style="width:150px; margin-left:auto; margin-right:auto;">
			<svg>
			<rect width="150", height="150" style="fill:rgba(78,230,55,1)"/>
			</svg>
			</div>
	</div>
	<div class="col-xs-3">
		<div style="width:200px; margin-left:auto; margin-right:auto;">
			<svg>
				<rect width="200", height="200" style="fill:rgba(73,165,191,1)"/>
			</svg>
		</div>
	</div>
</div>

