<h3>Versatile System</h3>
MySchoolPal is a versatile system designed at supporting pupils learning allowing them to make outstanding progress. Teachers and SLT can both use the system to carefully 
monitor pupils' progress on a wide range of levels, from just a single pupil to a whole year group. Schools can decide on the different pupil groups they would like to analyse
e.g. pupil premium, EAL or any other groups they wish to identify. 

<h3>Data Entry</h3>
<p>Data entry is simple, teachers only have to enter a title and the results for their class and click save. The program will then immediately feedback information such as: 
	<ul>
	<li> How pupils are performing relative to their target.</li>
	<li> How many levels of progress they have made from KS1 or KS2. </li>
	<li> How different groups are perfoming in the class. </li>
	<li> Each pupils average performance in that subject.</li>
	<li> An indepth analysis of a particular pupils performance.</li>
	</ul>
	
This feedback on pupils' performance is represented using clean, colourful graphs that allow for immediate identification of those pupils who are struggling and those who are
over achieving.
	</p>

<h3>Progress against targets</h3>
After entering a pupil's results, the result is then immediately given a colour depending on how many levels it is above or below the pupil's target.  This allows teachers
to instantly see which pupils are above, on track, just below or well below target in each assessment. It also gives a clear representation on how pupils are progressing from 
one topic to the next. 

<h3>Levels of Progress</h3>
Progress, progress, progress. All teachers are interested in how many levels of progress each pupil is making in their subject. MySchoolPal allows teachers to select any topic
and immediately identify who is/isn't making a satisfactory amount of progress. The levels of progress are divided up into sub levels allowing teachers to pinpoint
exactly where intervention is needed. 

<h3>Transition Matrix</h3>
Transition Matrices display clearly the progress made by a group of students, they are designed to allow teachers to immediately pupils who are under performing. 
<br />
<%=link_to 'Try it yourself', static_pages_matrix_path, class: "btn btn-large btn-primary"%>


<h3>Single Pupil, Classes, Year Groups</h3>
Teachers and SLT can look at the performance of students at many different levels. It may be of interest to look at a whole year group, a class, a specific group of pupils
or even a single pupil, MySchoolPal makes this process simple. Whichever data analysis tool is being used teachers can always click on a students name and drill down into
that students performance. This makes it a powerful tool when deciding on exactly where to provide intervention with each pupil. 

<h3>Detailed analysis of any pupil groups</h3>
Looking at the progress of different pupil groups can be extremely important when trying to improve a schools overall results. MySchoolPal allows Teachers and SLT to look
at specific groups and their performance. All the data analysis tools have the option to select different pupil groups, in order to give an in depth assessment of each 
pupils' progress.
<br />
<br />
