<h3>Supporting Pupil's Progress</h3>
	<br />
	<div class="row">
		<div class="col-xs-8">
			<p>
				
			</p>
			
			<p>
				
			</p>
			
			<p>
				
			</p>
		</div>
		<div class="col-xs-4">
		<%= image_tag("/assets/slide1.png", width:"400")%>
		</div>
	</div>