<h3>Privacy Policy</h3>
<p class="policy">MySchoolPal is committed to respecting the privacy of online visitors and pledges its best efforts to that end. In general, you can visit the Site on the Web without telling us who you are or revealing anything about yourself.
MySchoolPal’s web server automatically recognizes each visitor’s domain name, but does not automatically collect personally identifiable information.
</p>
<br />
<strong>Cookies</strong>
<br />

<p>
A “cookie” is a small piece of data stored on your computer’s hard drive when you visit the Site. MySchoolPal uses cookies to analyze the Site’s overall traffic patterns and improve Site visitors’ online experience. MySchoolPal does not use cookies to store or collect any personal information. Many browsers provide an option to block or remove cookies. You can visit the Site successfully while blocking cookies, but leaving cookies enabled in your browser will help MySchoolPal to improve the Site’s usability and effectiveness.
</p>
<br />
<strong>Data Protection</strong>
<br />

<p>
MySchoolPal is registered with the Information Commisioner Office, all data will be processed conforming to the Data Protection Act 1998 and the code of practice issued by the ICO. 
<br>
MySchoolPal will process the follwing personal data about candidates, all of the status data will be recorded as either a YES or a NO, MySchoolPal does not require the recording of personal details:
<br>
Results, Gender, FSM Status, SEN Status, Ability, Pupil Premium, Vulnerability Status - MySchoolPal will never hold data regarding a candidates date of birth or address. 
<br>
MySchoolPal will not share this data with anyone other than the school it is registered to. The data will then only be used to carry out analysis of progress. 
<br>
ICO Registration Number: ZA004582
</p>
<br />
<strong>Encryption</strong>

<br />
<p class="policy">
Any data that is stored on our server will be 128 bit encrypted and not shared with any third parties. We use a SSL - 128 bit encryption to provide users security from eavesdropping. When accessing MySchoolPal you will always see the padlock displayed demonstrating this security is in place. 
</p>