<div class="row-fluid">
	<div class="span6">
	</div>
	<div class="span4 center">
		<div style="margin-top:40px;">
			<H5>Import timetables</H5>
			<br />
			Click on select file to browse to the file you have now filled with Timetables. 
			Then click import.
		</div>
		<div style="margin-top:50px">
			<%= form_tag import_timetables_path, multipart: true do %>
				<div class="fileupload fileupload-new" data-provides="fileupload">
					<div class="input-append">
						<div class="uneditable-input span3">
							<i class="icon-file fileupload-exists"></i> 
							<span class="fileupload-preview"></span>
						</div>
						<span class="btn btn-file">
							<span class="fileupload-new">Select file</span>
							<span class="fileupload-exists">Change</span>
							<%= file_field_tag :file %>
						</span>
					<%= submit_tag "Import", class: "btn fileupload-exists btn-danger" %>
				</div>
			<%end%>
		</div>
	</div>
</div>