		<h2>Select a subject</h2>
		<%@subjects.each do |subject|%>
		
			<button type="button" class="btn btn-danger" style="margin-top:10px; "><%=link_to subject.subject, year_analysis_pupil_results_path(year_id: @year_id, subject_id: subject.id, col_id: 1), :style => "color:#FFF"%></button>
			
		<%end%>
