<h3>Admin</h3>
<div class="row">
		<div class="col-md-6">
			Email
		</div>
	</div>
<% for users in @admin %>
	<div class="row">
		<div class="col-md-6">
			<%= users.email %>
		</div>
	</div>
<%end%>




  