<p id="notice"><%= notice %></p>

<p>
  <strong>Class name:</strong>
  <%= @class_name.class_name %>
</p>

<%= link_to 'Edit', edit_class_name_path(@class_name) %> |
<%= link_to 'Back', class_names_path %>
